<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <title>Add User</title>
</head>
<body>
    <div class="container">
        <form action='/users/create' method="POST">
            <div class="form-group">
                <label for="first_name">First Name</label>   
                <input type="text" name="first_name" class="form-control">
            </div>
            <div class="form-group">
                <label for="last_name">Last Name</label>   
                <input type="text" name="last_name" class="form-control">
            </div>
            <div class="form-group">
                <label for="email">Email</label>   
                <input type="text" name="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="description">Description</label>   
                <input type="textarea" name="description" class="form-control" rows="3">
            </div>
            <button type="submit" class="btn btn-primary">Add User!</button>
        </form>
        <a href="/users" class='btn btn-primary'>Home</a>
    </div>
</body>
</html>