<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>User Info</title>
</head>
<body>
    <div class="container">
        <h1>User {{user_data[0]['id']}}</h1>
        <h4>Full Name: {{user_data[0]['full_name']}}</h4>
        <h4>Email: {{user_data[0]['email']}}</h4>
        <h4>Description: {{user_data[0]['description']}}</h4>
        <h4>Created On: {{user_data[0]['created_at']}}</h4>
        <h4>Last Updated On: {{user_data[0]['updated_at']}}</h4>

        <a href="/users/{{user_data[0]['id']}}/edit" class='btn btn-primary'>Edit</a>
        <a href="/users/{{user_data[0]['id']}}/destroy" class='btn btn-primary'>Delete</a>
        <a href="/users" class='btn btn-primary'>Home</a>
    </div>
    
</body>
</html>